body {
  background-color: #171520;
  background-size: cover;
}

.clock {
  display:flex;
  flex:1;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.frame {
  width: 300px;
  height: 300px;
  border: 10px solid white;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 200px;
  transform: translateY(-3px);
}

.hand {
  width: 150px;
  height: 0px;
  border: 1px solid white;
  position: absolute;
  top:50%;
  transform-origin: right;
}

.digital-clock {
  text-align: center;
  margin: 0px;
  font-family: 'Quantico';
  font-size: 80px;
  color: white;
}

@media only screen and (max-width: 414px) {
    .digital-clock {
        font-size: 60px;
    }
}
