html, body, main, header {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav {
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: 5px 5px 0px #ffffff;
}

.nav__list {
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #022140;
  height: 10vh;
}

.nav__item {
  box-sizing: border-box;
  line-height: 24px;
  padding: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__item:hover {
  box-shadow: 0px 5px 0px #BADA55;
}

a {
  text-decoration: none;
  color: #f4f5f9;
}

main {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #022140;
  height: 90vh;
}

.intro__image {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  background-image: url('../images/photo.png');
  background-position: center;
  background-size: 106%;
  border: 25px solid #5aa6dd;
  box-shadow: 0px 0px 50px 10px #f4f5f9;
  margin-top: 9em;
}

.intro__name {
  font-size: 53px;
  color: #f4f5f9;
  margin-top: 2em;
  margin-bottom: 0;
}

.intro__position__container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.intro__position {
  font-size: 24px;
  color: #BADA55;
  margin: 0;
  padding: 0;

}

.projects {
  background-color: #f4f5f9;
  padding: 2em 0;
}

.projects__main__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
  padding: auto;
}

.projects__container {
  width: 25%;
  min-width: 380px;
  border: solid 4px #fff;
  border-radius: 12px;
  box-shadow: 1px 2px 20px 7px rgba(4, 6, 4, 0.04);
  background-color: #fff;
  padding: 1em;
  margin: 2em;
  text-align: center;
}

.projects__container__image {
  max-width: 100%;
}

.projects__container__description {
  color: #212121;
  font-size: 18px;
  line-height: 1.2em;
  text-align: justify;
}

.projects__container__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects__button {
  background-color: #5aa6dd;
  color: #fff;
  border: none;
  padding: 1em 2em;
  font-size: 16px;
  margin: 1em;
  border-radius: 7px;
  cursor: pointer;
  /* box-shadow: 2px 2px 20px #212121; */
}

.projects__button:hover {
  color: #BADA55;
}

.career {
  text-align: center;
}

.career__image__growWithGoogle {
  max-width:370px;
  margin: 3em;
}

.career {
  padding: 2em 0;
}

.career__main__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1400px;
  margin: auto;
  padding: auto;
}

.career__container {
  width: 20%;
  min-width: 380px;
  background-color: #5aa6dd;
  border: 10px solid #5aa6dd;
  box-shadow: 1px 2px 20px 7px rgba(4, 6, 4, 0.04);
  border-radius: 40px;
  padding: 1.5em;
  margin: 2em;
}

.career__container__empty {
  width: 20%;
  min-width: 380px;
  border: 10px solid #5aa6dd;
  box-shadow: 1px 2px 20px 7px rgba(4, 6, 4, 0.04);
  border-radius: 40px;
  padding: 1.5em;
  margin: 2em;
}

.career__container__header {
  line-height: 1.2em;
  color: #f4f5f9;
  text-align: justify;
}

.career__container__description {
  font-size: 18px;
  color: #f4f5f9;
  font-size: 22px;
  /* font-weight: bold; */
}

.career__container__header__empty {
  line-height: 1.2em;
  color: #212121;
  text-align: justify;
}

.career__container__description__empty {
  font-size: 18px;
  color: #212121;
  font-size: 22px;
}

.career__complete { color: #BADA55; }
.career__inProgress { color: #DABA55; }
