@media screen and (max-width: 575px) {

  .nav__list {
    display: none;
  }

  .header__close {
    height: calc(18px + 18px + 3*5px + 2*4px + 4*24px + 8*10px + 3*1px);
  }


  .nav__list {
    display: none;
  }

  .header__hamburger {
    display: block;
    width: 100%;
    background-color: #022140;
    height: 10vh;
    padding: 18px 0 14px 18px;
    margin: 0;
  }

  .nav__list__close {
    display: flex;
    height: auto;
    flex-direction: column;
    background-color: #5aa6dd;
    text-align: center;
  }

  .nav__item {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #fff;
  }

  .nav__item:last-of-type {
    width: 100%;
    border-bottom: none;
  }

  .nav__item:hover {
    border-bottom: 1px solid #BADA55;
  }

  .intro__close {
    height: calc(100vh - (18px + 18px + 3*5px + 2*4px + 4*24px + 8*10px + 3*1px));
    align-content: center;
  }

  .intro__name {
    font-size: 45px;
    margin-top: calc((100vh - (18px + 18px + 3*5px + 2*4px + 4*24px + 8*10px + 3*1px + 45px)) / 2);
    align-self: center;
  }

  .intro__image {
    display: none;
  }

  .bar {
    background-color: #fff;
    width: 24px;
    height: 5px;
    border-radius: 10px;
    margin-bottom: 4px;
    -webkit-transition: trasform 3s ease;
    transition: 0.5s;
  }

  .close .hamburger__bar1 {
    transform: rotate(45deg) translate(0,12px);
  }

  .close .hamburger__bar2 {
    opacity: 0;
  }

.close .hamburger__bar3 {
  transform: rotate(-45deg) translate(0,-12px);
  }

}
