#custom_carousel .item {
  color:white;
  font-family:'Poppins', san-serif;
  text-align:justify;
  font-size:20px;
  padding:0px;
}

#custom_carousel .controls {
  overflow-x:auto;
  overflow-y:hidden;
  padding:0;
  margin:0;
  white-space:nowrap;
  text-align:center;
  position:relative;
}

#custom_carousel .controls li {
  display:inline-block;
  width:1%;
  max-width:90px;
  margin:40px 15px 30px 0px;
  cursor:pointer;
}

#custom_carousel .controls li.active {
  cursor:pointer;
  text-shadow:0px 0px 12px white;
}

#featured {
  text-align:center;
  font-family:'Aguafina Script', sans-serif;
  font-size:54px;
  padding:48px 0px 48px 0px;
}

@media (max-width:767px) {
  #custom_carousel {
    padding:0px;
    margin:0px auto;
  }
}

#custom_carousel {
  padding:0px 64px 30px 64px;
}

.email {
  display:inline-block;
  padding:20px;
  font-size:20px;
}

.phone {
  display:inline-block;
  padding:20px;
  font-size:20px;
}

.contact i {
  font-size:30px;
}

#title {
  padding:0px 0px 15px 0px;
}

